body {
  padding: 0px;
  margin: 0px;
  background: url(../images/bg.png) top left repeat;
  font-family: 'Poly', serif;
}

a, h1, h2 { color: #005dad }

#container {
  margin: 0px auto 0px auto;
  width: 900px;
  min-height: 1200px;
  background: url(../images/container-bg.png) top center;
  padding: 0px 0px 15px 0px;
}

#page, #menu { width: 827px }

#page {
  margin: 0px 40px 15px 40px;
  min-height: 650px;
}

#header {
  display: block;
  background: url(../images/header.png) top center;
  height: 436px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 24pt;
  text-shadow: 0 0 0.1em gray;
}

#header #greeting {
  position: relative;
  top: 50px;
  left: 300px;
  color: #005dad;
}

#header #greeting #aloha {
  font-size: .7em;
}

#header #greeting #school {
  font-weight: bold;
}

#header #greeting #contact-info {
  font-size: .6em;
}

#header #greeting #contact-info .address, #header #greeting #contact-info .phones {
  float: left;
  width: 200px;
}

#puas {
  background: url(../images/header.png) top center no-repeat;
  margin: 0px auto 0px auto;
  height: 436px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Menu */

#menu {
  /*z-index: 999;
  position: absolute;
  top: 307px;*/
  width: 851px;
  margin-left: 24px;
  padding-right: 0;
  padding-left: 0;
  /*padding-top: 100px;*/
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14pt;
  /*font-family: sans-serif;*/
  border-bottom: solid 1pt #005dad;
}

#menu, #menu li a {
  /*background: transparent url(../images/blue-vertical-btn-bg.png) bottom repeat-x;*/
  padding-bottom: 5px;
}

#menu li a {
  text-decoration: none;
  padding-top: 3px;
  padding-right: 15px;
  padding-left: 15px;
  /*color: white;*/
  color: #005dad;
}

#menu li a:hover, #menu li.selected a {
  background: transparent url(../images/yellow-vertical-btn-bg.png) bottom repeat-x;
  color: #005dad;
}

#menu li, #menu ul {
  padding: 0;
  margin: 0;
}

#menu li {
  list-style: none;
  display: inline-block;
}


/* Home Page New Feed */

#news-feed {
  width: 500px;
  float: right;
  margin-top: 10px;
}

.section {
  margin-top: 10px;
}

#news-feed .news-feed-title, .section-header {
  text-transform: uppercase;
  font-size: 10pt;
  color: #555;
  font-weight: bold;
  font-family: sans-serif;
  background: url(../images/news-header-bg.png) repeat-y left;
}

#news-feed .title {
  font-size: 16pt;
  font-weight: bold;
  color: #005dad;
  padding: 2px 0 2px 1px;
}

#news-feed .publish-date {
  font-size: 10pt;
  color: gray;
}

#news-feed .body p {
  margin: 5px 0 0 0;
}

/* Footer */

#footer {
  margin-top: 10px;
  border-top: solid 1pt #005dad;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 900px;
  background: url(../images/container-bg.png) top center;
  float: right;
}

#footer #mission {
  padding-left: 50px;
  width: 500px;
  float: left;
}

#footer #mission #small-logo {
  background: url(../images/small-logo.png) no-repeat;
  width: 134px;
  height: 117px;
  float: left;
}

#footer #mission p {
  width: 350px;
  float: right;
  font-size: 12pt;
}

#footer #bottom-contact {
  width: 300px;
  float: right;
}

#highlights {
  float: left;
  width: 300px;
}

#vision {
  width: 550px;
  float: right;
}


/* Slides */

#slides {
  margin-top: 5px;
}

.pagination {
	margin: 10px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(/images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	z-index: 500;
	position: absolute;
    top: 0;
	left: 0;
	height: 50px;
	padding: 0 20px 0 20px;
	background: rgba(0,0,0,.5);
	width: 540px;
	font-size: 1em;
	line-height: 1.33;
	color: #fff;
	text-shadow: none;
}

.slides_container div.slide {
  width: 300px;
  height: 333px;
  display: block;
}
