body {
  padding: 0px;
  margin: 0px;
  background: url(../images/bg.png) top left repeat;
  font-family: 'Poly', serif;
  overflow-x: hidden;
}

a, h1, h2, strong { color: #005dad }

#container {
  margin: 0px auto 0px auto;
  width: 900px;
  min-height: 1600px;
  background: url(../images/container-bg.png) top center;
  padding: 0px 0px 15px 0px;
}

#page, #menu { width: 827px }

#page {
  margin: 0px 40px 15px 40px;
  min-height: 650px;
}

#header {
  display: block;
  background: url(../images/header.png) top center;
  height: 436px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 24pt;
  text-shadow: 0 0 0.08em gray;
}

#header #greeting {
  position: relative;
  top: 50px;
  left: 300px;
  color: #005dad;
}

#header #greeting #aloha {
  font-size: .7em;
}

#header #greeting #school {
  font-weight: bold;
}

#header #greeting #contact-info {
  font-size: .6em;
}

#header #greeting #contact-info .address, #header #greeting #contact-info .phones {
  float: left;
  width: 200px;
}

#puas {
  background: url(../images/header.png) top center no-repeat;
  margin: 0px auto 0px auto;
  height: 436px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* Menu */

#menu {
  /*z-index: 999;
  position: absolute;
  top: 307px;*/
  width: 851px;
  margin-left: 24px;
  padding-right: 0;
  padding-left: 0;
  /*padding-top: 100px;*/
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14pt;
  /*font-family: sans-serif;*/
  border-bottom: solid 1pt #005dad;
}

#menu, #menu li a {
  /*background: transparent url(../images/blue-vertical-btn-bg.png) bottom repeat-x;*/
  padding-bottom: 5px;
}

#menu li a {
  text-decoration: none;
  padding-top: 3px;
  padding-right: 15px;
  padding-left: 15px;
  /*color: white;*/
  color: #005dad;
}

#menu li a:hover, #menu li.selected a {
  background: transparent url(../images/yellow-vertical-btn-bg.png) bottom repeat-x;
  color: #005dad;
}

#menu li, #menu ul {
  padding: 0;
  margin: 0;
}

#menu li {
  list-style: none;
  display: inline-block;
}


/* Home Page New Feed */

#news-feed {
  width: 500px;
  float: right;
  margin-top: 10px;
}

.section {
  margin-top: 10px;
}

#news-feed .news-feed-title, .section-header {
  text-transform: uppercase;
  font-size: 10pt;
  color: #555;
  font-weight: bold;
  font-family: sans-serif;
  background: url(../images/news-header-bg.png) repeat-y left;
}

#news-feed .title {
  font-size: 16pt;
  font-weight: bold;
  color: #005dad;
  padding: 2px 0 2px 1px;
}

#news-feed .publish-date {
  font-size: 10pt;
  color: gray;
}

#news-feed .body p {
  margin: 5px 0 0 0;
}

/* Footer */

#footer {
  margin-top: 10px;
  width: 900px;
  background: url(../images/container-bg.png) top center;
  float: right;
}

#footer #mission {
  padding-left: 20px;
  width: 600px;
  float: left;
}

#footer #mission #small-logo {
  background: url(../images/small-logo.png) no-repeat;
  width: 134px;
  height: 117px;
  float: left;
  margin-right: 10px;
}

#footer #mission p {
  width: 450px;
  float: right;
  font-size: 12pt;
}

#footer #bottom-contact {
  width: 210px;
  float: right;
}

#footer #bottom-contact strong {
  margin-bottom: 5px;
  font-size: 1.1em;
}

#footer #bottom-contact .address {
  margin-bottom: 5px;
}

#footer .footer-wrapper {
  background: url(../images/footer-grad.png) bottom repeat-x;
  margin-left: 24px;
  width: 850px;
}

#footer .top {
  border-top: solid 1pt #005dad;
  padding-top: 15px;
  width: 850px;
  /*margin-left: 24px;*/
  clear: all; 
}

#footer .bottom {
  font-size: .8em;
  width: 800px;
  margin-left: 20px;
  margin-top: 150px;
  padding-bottom: 15px;
}

#highlights {
  float: left;
  width: 300px;
}

#vision {
  width: 550px;
  float: right;
}


/* Slides */

#slides {
  margin-top: 5px;
}

#slides ul.pagination {
  margin: 10px auto 0;
  width: 200px;
}

#slides ul.pagination li {
  float: left;
  margin: 0 1px;
  list-style: none;
}

#slides ul.pagination li a {
  display: block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url(/images/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

#slides ul.pagination li.current a {
  background-position: 0 -12px;
}

#slides .caption {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  padding: 0 20px 0 20px;
  background: rgba(0,0,0,.5);
  width: 540px;
  font-size: 1em;
  line-height: 1.33;
  color: #fff;
  text-shadow: none;
}

.slides_container div.slide {
  width: 300px;
  height: 333px;
  display: block;
}

#highlights {
  float: left;
  width: 300px;
}

/* Staff Members */

#staff_members li {
  margin: 10px 0;
  list-style: none;
  display: block;
}

#staff_members li .name {
  color: #005dad;
  font-weight: bold;
  font-size: 1.1em;
}

/* Staff Directory Pagination */

div.pagination { margin: 7px }
div.pagination a, div.pagination span, div.pagination em { padding: 3px 5px }
div.pagination em.current { color: white; background: #005dad }
div.pagination a { text-decoration: none }
div.pagination a:hover { background: #005dad; color: white }
