<div class="section" id="highlights">
  <div class="section-header">Around the School</div>
</div>

<div class="section" id="vision">
  Makakilo Elementary School...a caring community of learners.
</div>
<%= latest_news %>
